html{
	background-color:#fff9e9;
	
}
h5, h2, h4, h3, p{
	display:flex;
	justify-content:center;
	margin:15px;	

	

}

	@keyframes nimanima{
		from {-webkit-transform: scale(1.1);
            transform: scale(1.1);}
		to {-webkit-transform: scale(1);
            transform: scale(1);}
}

nav{
	background-color:#fdcee4;
	border:3px #ed81df dashed;
	padding:5px 5px 5px 5px;
	margin:15px;
	border-radius:15px;
	animation: 0.5s 0.1s 1 running nimanima;
}
nav h2{
	margin:9px;
	color:#81c4ed;
}
nav ul{
	display:flex;
	justify-content:space-evenly;
}
li{
	list-style:none;
	color:powderblue;
	font-size:20px;
}
#okah{
	font-family:Cambria;
	display:flex;
	justify-content:flex-start;
	
}
.porpor{
	background-color:#fdcee4;
	border:3px #ed81df dashed;
	padding:5px 5px 5px 5px;
	border-radius:15px;
	display:flex;
	justify-content:center;
	margin-left:10%;
	margin-right:10%;
	animation: 0.9s 0.2s 1 running nimanima;
}
.soc ul {
	background-color:#fdcee4;
	border:3px #ed81df dashed;
	padding:5px 5px 5px 5px;
	border-radius:15px;
	display:flex;
	justify-content:center;
	margin-left:20%;
	margin-right:20%;
	animation: 1s 0.3s 1 running nimanima;
}
a{
	text-decoration:none;
	color:#81c4ed;
}
a:hover{
	text-decoration:none;
	color:#bf768b;

}
.greet{
	/**
	background-color:#fdd4dc;
	border:3px #c27979 solid;
	padding:2px 2px 2px 2px;
	**/
	margin:20px 100px 20px 100px;
	font-family:Cambria;
	border-radius:15px;
	color:pink;
	
}
.about{
	/**
	background-color:#fdd4dc;
	border:1px #c27979 solid;
	padding:5px 5px 5px 5px;
	border-radius:15px;
	**/
	margin:40px;
	color:pink;
	font-family:Verdana;
}
.about p {
	background-color:#fdcee4;
	border:3px #ed81df dashed;
	padding:5px 5px 5px 5px;
	border-radius:15px;
	display:flex;
	justify-content:center;
	margin-left:3%;
	margin-right:3%;
	animation: 0.8s 0.2s 1 running nimanima;
	color:#81c4ed;
}
.ran{
	display:flex;
	justify-content:center;
	margin-left:3%;
	margin-right:3%;
	animation: 0.8s 0.2s 1 running nimanima;
	height:90px;
}
.jects{
	/**
	background-color:#fdd4dc;
	border:1px #c27979 solid;
	padding:5px 5px 5px 5px;
	border-radius:15px;
	**/
	margin:50px;
	color:pink;
	font-family:Verdana;
}
.porpor p{
	color:#81c4ed;
}
.soc{
	/**
	background-color:#fdd4dc;
	border:1px #c27979 solid;
	padding:5px 5px 5px 5px;
	border-radius:15px;
	**/
	margin:50px;
	color:pink;
	font-family:Verdana;
}